@use './partials/_var' as *;
@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import '/node_modules/@fontsource/montserrat/700.css';

body {
  font-family: $main-font;
  color: $primary-color;
  background-image: linear-gradient(lighten($primary-color, 63%), lighten($primary-color, 40%));
}